source https://nuget.org/api/v2

storage:none

nuget Fable.Elmish.HMR
nuget FSharp.Core
nuget Fable.Core
nuget Fable.React
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fulma
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free

nuget Fable.Import.Jest
nuget Expecto
nuget Expecto.TestResults

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.JavaScript.Yarn
