source https://nuget.org/api/v2

storage:none

nuget FSharp.Core
nuget Fable.Core prerelease
nuget Fable.React prerelease
nuget Fable.Elmish.Browser prerelease
nuget Fable.Elmish.Debugger prerelease
nuget Fable.Elmish.HMR prerelease
nuget Fable.Elmish.React prerelease
nuget Fable.FontAwesome prerelease
nuget Fable.FontAwesome.Free prerelease
nuget Fulma prerelease

nuget Fable.Import.Jest
nuget Expecto
nuget Expecto.TestResults

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.JavaScript.Yarn
